@model MovieRental_WebSystem.Models.HarryPotterCharacter

<h2>@Model.Name</h2>
<img src="@Model.Image" alt="@Model.Name" />
<p><strong>House:</strong> @Model.House</p>
<p><strong>Patronus:</strong> @Model.Patronus</p>
<p><strong>Actor:</strong> @Model.Actor</p>
